<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 해당 mapper 파일의 고유한 별칭, 식별자 -->
<mapper namespace='userMapper'>

	 <resultMap id='userResultSet' type='user'>
        
        <result  property='userNo' column='userNo'/>
        <result property='userId' column='userId'  />
        <result property='userPwd' column='userPwd'  />
        <result property='userName' column='USERNAME' />
        <result property='grade' column='u.grade' />
        <result property='gender' column='gender' />
        <result property='phone' column='phone' />
        <result property='point' column='point' />
        <result property='rentalCount' column='rentalCount' />
        <result property='maxRentalCount' column='maxrentalcount' />
        <result property='status' column='status' />
        <result property='adminYN' column='adminYN' />
        
    </resultMap>


    <insert id="insert" parameterType="user">
		INSERT INTO user ( USERID
                           , USERPWD
                           , USERNAME
                           , GENDER
                           , phone
                           ) VALUES ( #{userId}
                                           , #{userPwd}
                                           , #{userName}
                                           , #{gender}
                                           , #{phone}
                                           )

    </insert>
    
    <update id="update" parameterType="user">
	    	UPDATE USER
	  	 	 <set>
		      <if test="userPwd != null and userPwd neq ''"> userPwd = #{userPwd}, </if>
		      <if test="userName != null and userName neq ''"> userName = #{userName},</if>
		      <if test="phone != null and phone neq ''"> phone = #{phone}, </if>
		      <if test="gender != null and gender neq ''"> gender = #{gender}, </if>
		      <if test="point != 0"> point = #{point}, </if>
		      status = 'Y'
		    </set>
	    	WHERE 1=1
	    		<if test="userNo != 0">and userNo = #{userNo} </if>
	    		<if test="userId != null and userId neq ''" >
				and u.userId = #{userId}
				</if>
    </update>
    
    <update id="updatePoint" parameterType="user">
	    	UPDATE USER
	  	 	 <set>
		      <if test="point != 0"> point = point + #{point} </if>
		    </set>
	    	WHERE 1=1
	    		<if test="userNo != 0">
	    		and userNo = #{userNo} 
	    		</if>
	    		<if test="userId != null and userId neq ''" >
				and u.userId = #{userId}
				</if>
				
    </update>
    
    
    <update id="delete" parameterType="user">
    		UPDATE USER
    		SET STATUS = 'N'
    		WHERE 1=1
    			<if test="userNo != 0">
    				and userNo = #{userNo} 
    			</if>
	    		<if test="userId != null and userId neq ''" >
					and u.userId = #{userId}
				</if>

    </update>


	<select id="select" parameterType="user" resultMap="userResultSet">
	        SELECT u.*, g.maxrentalCount, IFNULL(r.cnt, 0) AS `rentalCount`
			FROM user u
			join grade g
			on u.grade = g.grade
			LEFT OUTER JOIN (SELECT userNo, COUNT(*) AS cnt
									FROM rental
									WHERE STATUS='n'
									GROUP BY userNo
										) AS r
			ON u.userNo = r.userNo
			WHERE 1=1
			<if test="userNo != 0">
				and u.userNo = #{userNo}
			</if>
			<if test="userId != null and userId neq ''" >
				and u.userId = #{userId}
			</if>
			<if test="userPwd != null and userPwd neq ''">
				and u.userPwd = #{userPwd}
			</if>
				and status = 'y'		
    </select>

	<select id="selectList" parameterType="user" resultMap="userResultSet">
 
	        SELECT u.*, g.maxrentalCount, IFNULL(r.cnt, 0) AS `rentalCount`
			FROM user u
			join grade g
			on u.grade = g.grade
			LEFT OUTER JOIN (SELECT userNo, COUNT(*) AS cnt
									FROM rental
									WHERE STATUS='n'
									GROUP BY userNo
										) AS r
			ON u.userNo = r.userNo
			WHERE 1=1
			    <if test="userNo != 0">
			      AND userNo = #{userNo}
			    </if>
			    <if test="userId != null and userId neq ''" >
				and u.userId = #{userId}
				</if>
				<if test="userPwd != null and userPwd neq ''">
					and u.userPwd = #{userPwd}
				</if>
			      AND status = 'Y'

    </select>

	<select id="selectIdCheck" parameterType="user" resultMap="userResultSet">
        SELECT u.*, g.maxrentalCount
        FROM user u
        	join grade g
        	on u.grade = g.grade
        WHERE USERID = #{userId}
        	
    </select>


</mapper>